body {
  font-family: 'Lato', sans-serif;
}

.sub-nav-bar {
  display: flex;
  flex-direction: row;
  background-color: black;
}

#list-sub-nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  color: azure;
}

#menu {
  margin-right: 170px;
}

#mypage {
  display: none;
}

#english {
  display: none;
}

#login {
    display: none;
}

#twitter {
  display: none;
}

#facebook {
  display: none;
}

#home {
  margin-top: -5px;
  margin-left: -36px;
}

#sub-title {
  font-size: 20px;
  margin-top: 35px;
  margin-left: 35px;
  color: rgb(245, 77, 48);
}

#title {
 font-size: 75px;
  margin-top: 35px;
  margin-left: 35px;
  color: rgb(245, 77, 48);
}

#sub-title-2 {
  font-size: 15px;
  margin-top: 35px;
  margin-left: 35px;
  color: rgb(245, 77, 48);
}

#main-section {
  background-color: lightgoldenrodyellow;
  margin-bottom: 50px;
}

.menu-bar {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: rgb(72, 77, 77);
}

#different-parts {
  color: antiquewhite;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.living-room {
  width: 467px;
  height: 70px;
  background-color: rgb(95, 106, 107);
  color: rgb(245, 77, 48);
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

#text-living {
  font-size: 14px;
  width: 280px;
  padding-left: 20px;
  color: white;
}

#text-bedroom {
    font-size: 14px;
    width: 280px;
    padding-left: 43px;
    color: white;
}

#text-kitchen {
    font-size: 14px;
    width: 280px;
    padding-left: 77px;
    color: white;
}

#text-toilette {
    font-size: 14px;
    width: 280px;
    padding-left: 81px;
    color: white;
}

.living-room:hover {
  background:  #ee3d3d;
  color: white;
  border: 1px solid #fdfeff;
}

.living-room:active {
  background: #6070ff;
  color: white;
  border: 1px solid #cc3f3f;
}

.line {
  size: 3px rgb(245, 77, 48);
  width: 50px;
}

#title-speakers {
  margin-top: 30px;
  margin-left: 130px;
  font-size: 28px;
}

.photos-decoration {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 12px;
  padding: 15px;
}

.images-photo-decoration {
  margin-left: 35px;
}

#image-project {
  width: 200px;
  height: 200px;
}

#content-members {
  display: flex;
  flex-direction: row;
}

#title-main-speakers {
  margin-left: 15px;
}

#subtitle-main-speakers {
  margin-left: 15px;
  color: rgb(245, 77, 48);
}

#text-speakers {
  margin-left: 15px;
}

.line2 {
  size: 3px rgb(245, 77, 48);
  width: 50px;
  margin-left: 15px;
}

#container-partners {
  background-color: rgb(72, 77, 77);
}

#partner-title {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: rgb(245, 77, 48);
  margin-left: 20px;
}

#title-second {
  margin-top: 60px;
}

#classes-photos-partners {
  margin-top: 80px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 130px;
}

#footer {
  display: flex;
  flex-direction: row;
  background-color: lightgoldenrodyellow;
}

#photo-commons {
  width: 180px;
  height: 70px;
  margin-top: 50px;
}

#text-footer {
  color: rgb(245, 77, 48);
  margin-left: 15px;
}

#first-text-footer {
  margin-left: 15px;
  margin-top: 28px;
}

.overlay-original {
  background-color: rgb(240, 98, 73);
  mix-blend-mode: multiply;
  backdrop-filter: blur(7px);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  display: none;
}
  
#menu-main-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
  
.menu-cancel {
  color: #fff;
  font-size: 29px;
  font-weight: 500;
  line-height: 44px;
  text-decoration: none;
  padding-top: 50px;
}
  
.cancel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  margin-left: 20px;
  padding: 30px;
  margin-top: 40px;
}
  
#menu-can1 {
  position: absolute;
  height: 24px;
  left: 150px;
  right: 68px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 60px;
  list-style-type: none;
}
  
#menu-can2 {
  position: absolute;
  height: 24px;
  left: 150px;
  right: 68px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 100px;
}
  
#menu-can3 {
  position: absolute;
  height: 24px;
  left: 140px;
  right: 68px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 140px;
}

#image-contact {
  width: 50px;
  margin-left: 10px;
}

#image-home {
  width: 30px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .menu-bar {
    display: flex;
    background-color: white;
    flex-direction: row;
  }
  
  #logo {
    width: 100px;
    height: 60px;
  }

  #mypage {
    display: flex;
  }
  
  #english {
    display: flex;
  }
  
  #login {
    display: flex;
  }
  
  #twitter {
    display: flex;
  }
  
  #facebook {
    display: flex;
  }

  .sub-nav-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 77, 77);
    justify-content: right;
  }

  .menuu {
    display: none;
  }

  .homee {
    display: none;
  }

  .nav-inside {
    margin-right: 13px;
  }

  #menu-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    height: 10px;
    margin-left: 700px;
  }

  .menu-link {
    margin-left: 50px;
    text-decoration: none;
    color: #000000;
  }

  .content-nav {
    display: flex;
    flex-direction: row;
  }

  #contact {
    border: 2px solid;
    border-radius: 1px;
    color: #ee3d3d;
    padding: 10px;
  }

  .living-room {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  #container-living-room {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-top: 15px;
  }

  .title-room {
    margin-left: 70px;
  }

  #text-living {
    width: 230px;
    height: 110px;
  }

  #text-bedroom {
    width: 230px;
    height: 110px;
    margin-left: -15px;
  }

  #text-kitchen {
    width: 230px;
    height: 110px;
    margin-left: -47px;
  }

  #text-toilette {
    width: 230px;
    height: 110px;
    margin-left: -49px;
  }

  .images-photo-decoration {
    margin-right: 40px;
    padding-left: 140px;
  }




}
  
